<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <client />
    <services>
      <service behaviorConfiguration="mybehavior" name="服务端.Services">
        <endpoint address="/host" binding="netTcpBinding" contract="服务端.IServices"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/5000" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mybehavior"> 
          <serviceMetadata  httpGetEnabled="true" httpGetUrl="http://localhost:5001" />
          <serviceDebug  includeExceptionDetailInFaults="true"  />
          <serviceTimeouts transactionTimeout="00:02:00"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
